<a href="https://colab.research.google.com/github/E23A48/TP_ML/blob/master/TP_MachinLearning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

df = pd.read_csv("datos_banco.csv", engine='python')
df.head(5)

          idPrestamo  target  ... default_request_term  default_request_amount
0  LIBDISP9832897855       1  ...                    1                       0
1  LIBDISP9021501745       1  ...                    0                       0
2  LIBDISP4057314971       0  ...                    0                       0
3  LIBDISP8375185888       0  ...                    0                       0
4  LIBDISP9694463037       0  ...                    1                       0

[5 rows x 14 columns]